.DS_Store
*/.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/workspace.json
1/~$s1_Charts_as_data.pptx
5/~$s5_scraping_data.pptx
5/~$s5_scraping_data.pptx
Untitled.md
Untitled 1.md
